#container{
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
}
#colorBox{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: auto;
}
#rgbCode{
   font-size: 20px;
}
#copyBtn{
    background-color: rgb(65, 170, 65);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
#copyBtn:hover{
    background-color: green;
}
#changeColor{
    background-color: rgb(87, 87, 59);
    color: aliceblue;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}